# Maven (examples)
target
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings
bin

# OS X
.DS_Store

# log
logs/
*.log

#protobuf
example/build/*
test/test-integration/build/*