#.travis.yml
language: java

dist: trusty

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2

install:
  - ./mvnw clean install -Pci-install -B -U -e
  - sh ./tools/check_format.sh

script:
  - travis_retry ./mvnw package -Pci-test

after_success:
  - bash <(curl -s https://codecov.io/bash)
