<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder charset="UTF-8">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.foo.Bar" level="${logging.level.com.alipay.sofa.rpc}" additivity="false">
    <appender-ref ref="stdout"/>
  </logger>
  <!-- <root level="DEBUG">
     <appender-ref ref="stdout" />
   </root>-->
</configuration>