name: Alipay Cloud Devops Codescan
on:
  push:

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: codeScan
        uses: ayotto/alipay-cloud-devops-codescan@0.1.20230721
        with:
          parent_uid: ${{ secrets.ALI_PID }}
          private_key: ${{ secrets.ALI_PK }}
